/**
 *
 * List (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2020-07-08
 *
 */


.frame-filter {
	align-self: flex-start;

	display: flex;
	flex-direction: column;
	width: fit-content;

	> * {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 12rem;

		h3 {
			margin: 0 0.5rem 0 0;
			padding: 0.5rem 0;
		}
	}
	> * + * {
		margin-top: 1rem;
	}
	#filter-month { width: 8rem; }

	.filter-month-wrapper {
		display: flex;
		button {
			margin-left: 0.5rem;
			min-height: 100%;
		}
	}

	.button-row {
		justify-content: flex-end;
	}
}

.frame-main {
	padding: 1.5rem;
	margin-left: 1rem;
	flex-grow: 1;
}

.list-item {
	border-bottom: 1px solid #ccc;
	width: 100%;

	tr:nth-of-type(2n) { background-color: hsl(40, 60%, 95%); }

	th {
		border-bottom: 1px solid #ccc;
		text-align: center;
	}
	th, td {
		padding: 0.75rem 0.5rem;
		@include for-tl { padding: { left: 0.75rem; right: 0.75rem; } }
		white-space: nowrap;

		&:first-child { padding-left: 2px; }
		&:last-child { padding-right: 2px; }
	}
	td {
		line-height: 1.25;

		&:nth-child(2) {
			width: 100%;
			white-space: normal;
			text-decoration: underline;
			line-height: 1.25;
		}
		&.taxonomy {
			span {
				display: block;
				@include for-tablet-landscape-up {
					display: inline-block;
				}
			}
			div {
				white-space: normal;
			}
		}
		&.date {
			font-size: 0.7rem;
			> span {
				display: block;
				@include for-tl { display: inline-block; }
			}
		}
	}
}

.pagination {
	@include layout-centering;
	margin-top: 1.5rem;

	li > * {
		display: inline-flex;

		border: 1px solid #ccc;
		border-radius: 4px;

		background-color: #fff;
		color: #333;

		font-size: 0.85rem;
		text-decoration: none;
		line-height: 1.15;
		white-space: nowrap;

		&:hover { border-color: #88f; }

		&:disabled {
			pointer-events: none;
			border-color: #ccc;
			color: #aaa;
		}

		min-width: 1.5rem;
		@include for-tl { min-width: 2.5rem; }

		padding: 0.5rem 0.25rem;
		@include for-tp { padding: { left: 0.75rem; right: 0.75rem; } }

		text-align: center;
		user-select: none;
	}
	li > span {
		pointer-events: none;
		color: #ccc;
	}
	li + li { margin-left: 0.5rem; }
}
