/**
 * List
 *
 * @author Takuto Yanagida
 * @version 2022-12-23
 */

@use 'mixin' as *;
@use 'variable' as *;

body.list {
	position: relative;
	&::after {
		content: '%VERSION%';

		position        : absolute;
		transform-origin: left bottom;

		font-size: 0.5rem;
		color    : rgba(#000, 0.75);

		left  : 0.75rem;
		bottom: 0.8rem;

		@include for-tp-o {
			left     : 0.70rem;
			bottom   : 0.75rem;
			transform: rotate(-90deg);
			font-size: 0.65rem;
		}
		@include for-tl {
			left     : 1rem;
			bottom   : 0.75rem;
			font-size: 0.75rem;
		}
	}

	.column-main {
		display       : flex;
		flex-direction: column;
		gap           : var(--small-gap);
	}
}

.list-taxonomy-cancel {
	display  : flex;
	flex-wrap: wrap;
}

.list-item {
	border-bottom: 1px solid $color-line;
	width        : 100%;

	@include for-ph-o {
		display   : block;
		overflow-x: scroll;
	}

	tbody {
		tr:nth-of-type(2n + 1) { background-color: hsla(0, 0%, 100%, 0.9); }
		tr:nth-of-type(2n)     { background-color: hsla(0, 0%, 97.5%, 0.9); }
	}

	:is(th, td) {
		&:first-child { padding-inline-start: 0.5rem; }
		&:last-child  { padding-inline-end  : 0.5rem; }
	}

	th {
		height        : calc(2rem + var(--small-gap));
		padding-block : 0 var(--small-gap);
		padding-inline: 0.5rem;

		border-bottom: 1px solid $color-line;
		text-align   : center;
		white-space  : nowrap;

		&:not(:last-child) { min-width: 4rem; }
		@include for-tl {
			&:not(:last-child) { min-width: 5rem; }
		}
	}

	td {
		height : calc(2rem + var(--small-gap) * 2);
		padding: 0.5rem;
		@include for-tl { padding-inline: 0.75rem; }

		line-height: 1.35;

		&:first-child {
			button { width: 100%; }
		}

		&.title {
			width      : 100%;
			white-space: normal;
			min-width  : 8rem;

			a { cursor: pointer; }
		}

		&.taxonomy {
			a { white-space: nowrap; }
		}

		&.date {
			font-size  : 0.65rem;
			white-space: nowrap;

			> span {
				display   : block;
				text-align: right;

				@include for-de {
					display: inline-block;
					padding: 0 0.15rem;
				}
			}
		}

		&.meta-type-date,
		&.meta-type-date-range {
			font-size  : 0.65rem;
			white-space: nowrap;

			span {
				display   : block;
				text-align: right;
			}
		}
	}
}

.pagination {
	display        : flex;
	justify-content: center;
	gap            : var(--small-gap);
}

.button-row.bottom {
	display  : flex;
	flex-wrap: wrap;
	gap      : var(--small-gap);

	[data-href="#"] { display: none; }
	.right { margin-inline-start: auto; }
}
