/**
 *
 * List (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2020-07-13
 *
 */


.frame-filter {
	> * {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 12rem;
	}
	h3 {
		margin: 0 0.5rem 0 0;
	}
}

.list-taxonomy-cancel {
	display: flex;
	flex-wrap: wrap;
}

.list-item {
	border-bottom: 1px solid #ccc;
	width: 100%;

	tr:nth-of-type(2n) { background-color: hsl(40, 60%, 95%); }

	th {
		border-bottom: 1px solid #ccc;
		text-align: center;
		white-space: nowrap;
	}
	th, td {
		padding: 0.75rem 0.5rem;
		@include for-tl { padding: { left: 0.75rem; right: 0.75rem; } }

		&:first-child { padding-left: 2px; }
		&:last-child { padding-right: 2px; }
	}
	td {
		line-height: 1.25;

		&.title {
			width: 100%;
			white-space: normal;
			text-decoration: underline;
			line-height: 1.25;
		}
		&.taxonomy {
			a { white-space: nowrap; }
		}
		&.date {
			font-size: 0.7rem;
			white-space: nowrap;
			> span {
				display: block;
				@include for-tl {
					display: inline-block;
					padding: 0 0.15rem;
				}
			}
		}
	}
}

.pagination {
	display        : flex;
	align-items    : center;
	justify-content: center;

	margin-top: 1.5rem;
	> * + * { margin-left: 0.5rem; }
}
