/**
 *
 * Login (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-10-19
 *
 */


@charset 'utf-8';


body.login {
	@include layout-centering;
	height: 100vh;
}

.login-frame {
	@include frame-design;

	> * + * { margin-top: 1rem; }
	> form {
		> * + * { margin-top: 1rem; }
	}

	margin-bottom: 10vh;
	width: 100%;
	max-width: 24rem;
	padding: 1rem;

	dt {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	dd + dt { margin-top: 1rem; }

	input[type=text], input[type=password] {
		width: 100%;
	}
	nav {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
