/**
 *
 * Login (SCSS)
 *
 * @author Takuto Yanagida
 * @version 2021-06-26
 *
 */


body.login {
    display    : grid;
    place-items: center;
}

.frame-login {
	margin-bottom: calc(var(--vh, 1vh) * 10);
	width        : calc(100% - 1rem);
	max-width    : 20rem;

	h1 {
		text-align : center;
		cursor     : pointer;
		user-select: none;
	}

	dl, p, nav {
		margin-top: 1.5rem;
	}

	p {
		line-height: 1.5;
	}

	dd + dt { margin-top: 1.25rem; }
	dd { margin-top: 0.5rem; }

	form.hidden {
		display: none;
	}

	input[type=text],
	input[type=password] {
		width: 100%;
	}
	input[invalid] {
		border-color: $color-button-border-caution;
	}
	nav {
		display        : flex;
		align-items    : center;
		justify-content: flex-end;
	}
}

.cookie {
	margin-top: -1rem;

	font-size  : 0.75rem;
	line-height: 1.35;
	text-align : justify;

	summary {
		width      : max-content;
		cursor     : default;
		user-select: none;
	}
	div { margin-top: 1.25rem; }
}
