/**
 * Media Dialog
 *
 * @author Takuto Yanagida
 * @version 2022-12-23
 */

@use 'mixin' as *;
@use 'variable' as *;

body.media {
    display    : grid;
    place-items: center;

	.notice:empty {
		display: none;
	}
}

.frame-media {
	max-height: 48rem;
	height    : 90vh;
	@supports (height: 1dvh) { height: 90dvh; }

	display       : flex;
	flex-direction: column;

	.dialog-title {
		span:last-child:not(:empty) {
			font-weight: normal;
			white-space: nowrap;
			&::before { content: '- '; }
		}
		@include for-ph-o {
			span { display: block; }
			span:last-child { font-size: 0.85rem; }
		}
	}
	.column-main { position: relative; }
}

.scroller {
	position: absolute;
	inset   : 0;

	overflow-y: scroll;
}

.list-item-media {
	display  : flex;
	flex-wrap: wrap;
	gap      : calc(var(--small-gap) * 2) var(--small-gap);

	padding: var(--small-gap);
}

.item-media {
	.card {
		display       : inline-flex;
		flex-direction: column;
		gap           : 0.5rem;

		width     : 8rem;
		min-width : unset;
		max-height: unset;
		height    : unset;
		padding   : 0;
		border    : none;

		&:focus {
			outline: none;

			.thumbnail::after {
				box-shadow: 0 0 1px 2px $color-button-border-hover;
			}
		}
	}

	&.selected .card {
		position: relative;
		&::after,
		&::before {
			content : '';
			position: absolute;
			inset   : -0.25rem auto auto -0.25rem;
			width   : 1rem;
			height  : 1rem;
			z-index : 1;
		}
		&::before {
			background-color: $color-button-background-accent;
			border-radius   : 3px;
		}
		&::after {
			box-shadow: 0 0 0 1rem $color-text inset;
			clip-path : polygon(10% 48%, 32% 86%, 52% 86%, 90% 20%, 73% 10%, 42% 64%, 27% 38%);
			scale     : 0.75 0.75;
		}
	}

	.thumbnail {
		display    : grid;
		place-items: center;

		width       : 100%;
		aspect-ratio: 1/1;

		border-radius: 2px;

		position: relative;
		&::after {
			content : '';
			position: absolute;
			inset   : 0;

			box-shadow   : 0 0 1px 1px $color-line inset;
			border-radius: 2px;
		}

		img {
			width       : 100%;
			aspect-ratio: 1/1;
			object-fit  : contain;
		}

		span {
			display      : inline-block;
			padding      : 2px 6px;
			border       : 1px solid #777;
			border-radius: 3px;
			color        : #666;
			font-size    : 0.65rem;
			font-weight  : bold;
			line-height  : 1;
		}
	}

	.caption {
		width: 100%;

		font-size  : 0.75rem;
		line-height: 1.35;
		text-align : center;

		overflow-wrap: break-word;
		white-space  : normal;
	}
}

#media-url {
	width: 100%;
}
