/**
 *
 * Media Dialog (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2020-07-23
 *
 */


.scroller {
	position: absolute;
	top     : 0;
	left    : 0;
	right   : 0;
	bottom  : 0;

	overflow-y: scroll;
}

.list-item-media {
	display: flex;
	flex-wrap: wrap;
}

.item-media {
	margin: 1rem;
	text-align: center;

	.thumbnail {
		display    : grid;
		place-items: center;

		margin: 0 auto;
		width : 6rem;
		height: 6rem;

		box-shadow: 0 0 4px #ccc inset;
		border-radius: 2px;

		img {
			width : 6rem;
			height: 6rem;
			object-fit: contain;
		}
	}

	.caption {
		margin-top: 0.5rem;
		max-width: 6rem;

		font-size: 0.75rem;
		line-height: 1.25;
		overflow-wrap: break-word;
	}

	input { display: none; }

	input:checked + label {
		.thumbnail {
			box-shadow: 0 0 4px 2px rgba(#88f, 0.75);
		}
	}
}

select#image-size {
	option { display: none; }
	&.small        { option[value="small"]        { display: block; } }
	&.medium-small { option[value="medium-small"] { display: block; } }
	&.medium       { option[value="medium"]       { display: block; } }
	&.medium-large { option[value="medium-large"] { display: block; } }
	&.large        { option[value="large"]        { display: block; } }
	&.extra-large  { option[value="extra-large"]  { display: block; } }
	&.huge         { option[value="huge"]         { display: block; } }
	&.full         { option[value="full"]         { display: block; } }
}

#media-url {
	width: 16rem;
	max-width: 100%;
	color: #ccc;
	height: 2rem;
	font-size: 0.75rem;
}
