/**
 *
 * Mixin (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2020-07-08
 *
 */


@mixin frame-design {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	box-shadow: 0 2px 5px rgba(#000, 0.25);
	font-size: 0.9rem;
}

@mixin clickable-design {
	border: 1px solid #ccc;
	border-radius: 4px;
	// box-shadow: 0 2px 6px #aaa;
	font-size: 0.9rem;

	background-color: #fff;
	color: #333;
	white-space: nowrap;

	&:hover { border-color: #88f; }
	&:disabled {
		pointer-events: none;
		border-color: #ccc;
		color: #aaa;
	}
}

@mixin btn-elm {
	min-width: 1.5rem;
	@include for-tablet-landscape-up {
		min-width: 2.5rem;
	}
	text-decoration: none;
	text-align: center;
	line-height: 1.25;
}

@mixin btn {
	display: inline-block;

	@include clickable-design;
	@include btn-elm;

	padding: 0.5rem 0.25rem;
	@include for-tp { padding: { left: 0.50rem; right: 0.50rem; } }
	@include for-tl { padding: { left: 0.75rem; right: 0.75rem; } }
}

@mixin btn-li {
	@include clickable-design;
	@include btn-elm;
	@include layout-centering;
	color: #ccc;
	min-height: 2.5rem;
	height: 2.5rem;

	a {
		@include btn-elm;
		@include layout-centering;
		color: #333;
		min-height: 2.5rem;

		padding: 0.5rem 0.75rem;
		width: 100%;
		height: 100%;
	}
}
