/**
 *
 * Post (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2020-07-14
 *
 */


#form-post {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.frame-post {
	display: flex;
	flex-direction: column;

	> * + *,
	> .mce-container {
		margin-top: 1rem;
	}
}

.message {
	display: none;
	margin: 1rem;
}

#dialog-placeholder {
	position        : fixed;
	left            : 0;
	top             : 0;
	width           : 100%;
	height          : 100%;
	z-index         : 999;

	display        : none;
	align-items    : center;
	justify-content: center;

	background-color: rgba(#000, 0.5);

	& > iframe {
		// border: 1px solid #ccc;
		// border-radius: 4px;
		// font-size: 0.9rem;

		// background-color: #fff;
		// color: #333;
		// white-space: nowrap;

		// &:hover { border-color: #88f; }
		&:disabled {
			pointer-events: none;
			// border-color: #ccc;
			// color: #aaa;
		}
	}
}


// -----------------------------------------------------------------------------


.metabox-date-range {
	.flatpickr {
		display: flex;
		@include for-tl { flex-direction: column; }
		align-items: flex-end;
		width: 100%;
	}
	.flatpickr-input {
		font-size: 0.75rem;
		@include for-tl {
			padding: { left: 0.45rem; right: 0.45rem; }
		}
	}
	.button.cross.delete {
		@include for-tl {
			width: 2.5rem;
			min-width: 2.5rem;
			height: 1rem;
			min-height: 1rem;
			padding: 0;
		}
	}
}


// -----------------------------------------------------------------------------


.mce-tinymce {
	div[aria-label="Bullet list"], div[aria-label="Numbered list"] {
		.mce-open {
			display: none;
		}
	}
}
