/**
 *
 * Post (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2021-06-02
 *
 */


#form-post {
	display       : flex;
	flex-direction: column;
	flex-grow     : 1;
}

.frame-post {
	display       : flex;
	flex-direction: column;

	> * + *,
	> .mce-container { margin-top: 1rem; }
}

.frame .message {
	display: none;
	margin: 1rem;
}

#dialog-placeholder {
	position: fixed;
	left    : 0;
	top     : 0;
	width   : 100%;
	height  : 100%;
	z-index : 999;

	display        : none;
	align-items    : center;
	justify-content: center;

	background-color: $color-dialog-placeholder-background;

	&.active {
		display: flex;
		opacity: 0;
	}
	&.visible { opacity: 1; }
}

#dialog-media {  // iframe
	width     : 95vw;
	max-width : 96rem;
	height    : 95vh;
	max-height: 48rem;

	display: none;
	&.active {
		display: block;
		opacity: 0;
	}
	&.visible { opacity: 1; }
}

#dialog-preview {
	width     : 95vw;
	max-width : 96rem;
	height    : 95vh;
	max-height: 96rem;

	flex-direction: column;

	display: none;
	&.active {
		display: flex;
		opacity: 0;
	}
	&.visible { opacity: 1; }

	iframe {
		width: 100%;
		flex-grow: 1;
	}
}


// -----------------------------------------------------------------------------


.metabox-group {
	.group-inner {
		width: 100%;
		padding: 0;

		> * {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;

			@include for-tl {
				align-self: flex-start;
				flex-direction: column;
				align-items: flex-start;
			}

			padding: 0.25rem 0;
			@include for-tl { padding: 0.5rem 0; }
			> * {
				padding: { top: 0.25rem; bottom: 0.25rem; }
				max-width: 100%;
			}
			> *:not(:last-child) { margin-right: 1rem; }
			@include for-tl {
				> *:not(:last-child) { margin-right: 0; }
			}
		}
	}
}

.metabox-text {
	input {
		min-width: 12rem;
		@include for-tl { width: 100%; }
	}
	@include for-tl {
		div { width: 100%; }
	}
}

.metabox-date,
.metabox-date-range {
	.flatpickr {
		display: flex;
		@include for-tl {
			flex-direction: column;
			width: 100%;
		}
		align-items: flex-end;
	}
	.flatpickr-input {
		@include for-tl {
			padding: { left: 0.45rem; right: 0.45rem; }
		}
	}
	.flatpickr.date-range input {
		min-width: 14rem;
		@include for-tl { min-width: unset; }
	}
	.button.cross.delete {
		@include for-tl {
			width: 2.5rem;
			min-width: 2.5rem;
			height: 1rem;
			min-height: 1rem;
			padding: 0;
		}
	}
}

.metabox-media,
.metabox-media-image {
	.metabox-container {
		display: flex;
		flex-wrap: wrap;

		> * + * { margin-left: 0.5rem; }
		@include for-tl { > * + * { margin-left: 0; } }

		.button.delete {
			max-height: 2rem;
			height: 2rem;
		}
	}
}

.metabox-media {
	.media-name {
		width: 16rem;
		max-width: 100%;
	}
	@include for-tl {
		.open-media-dialog {
			order: 1;
			margin-top: 0.5rem;
		}
		.button.cross.delete {
			order: 2;
			margin-left: auto;
			margin-top: 0.5rem;
		}
	}
}

.metabox-media-image {
	.open-media-dialog {
		display: inline-flex;
		user-select: none;
		width: 5.25rem;

		border          : 1px solid $color-button-border;
		border-radius   : $radius-button;
		background-color: $color-button-background;
		&:hover { border-color: $color-button-border-hover; }

		&::before {
			content: '';
			display: inline-block;
			padding-bottom: 66.67%;
		}

		position: relative;
		> div {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: contain;
			background-position: center;
			pointer-events: none;

			&[style=''] {
				background: {
					image   :
						linear-gradient( 45deg, rgba(#000, 0.25) 25%, transparent 25%),
						linear-gradient(-45deg, rgba(#000, 0.25) 25%, transparent 25%),
						linear-gradient( 45deg, transparent 75%, rgba(#000, 0.25) 75%),
						linear-gradient(-45deg, transparent 75%, rgba(#000, 0.25) 75%);
					position: 0 0, 0 6px, 6px -6px, -6px 0;
					size    : 12px 12px;
					repeat  : repeat;
				}
			}
		}
	}
	.open-media-dialog + * {
		display: flex;
		flex-direction: column;

		margin-left: 0.5rem;
		width: 16rem;
		max-width: calc(100% - 5.75rem);
	}
	.media-name {
		width: 100%;
	}
	.button.cross.delete {
		margin-left: auto;
		margin-top : 0.5rem;

		width     : 2.5rem;
		min-width : 2.5rem;
		height    : 1rem;
		min-height: 1rem;

		padding: 0;
	}
}


// -----------------------------------------------------------------------------


body.post {
	.tox,
	.tox .tox-button,
	.tox .tox-textarea,
	.tox .tox-textfield,
	.tox .tox-listbox,
	.tox .tox-tinymce-aux,
	.tox .tox-checkbox__label {
		font-family: unset;
		font-weight: normal;
		font-size  : 0.85rem;
	}
	.tox.tox-tinymce,
	.tox .tox-menu,
	.tox .tox-textarea,
	.tox .tox-textfield,
	.tox .tox-listbox {
		border-color: $color-button-border;
		border-radius: $radius-button;
	}
	.tox .tox-form__group {
		border: 1px solid $color-button-border;
		border-radius: $radius-button;
		overflow: hidden;

		.tox-textarea {
			border: none;
			font-family: Consolas, Monaco, 'Courier New', Courier, 'Source Han Code JP', 'IPA Gothic', 'Osaka-Mono', monospace;
		}
	}

	.tox .tox-dialog-wrap__backdrop {
		background-color: $color-dialog-placeholder-background;
	}
	.tox .tox-dialog {
		background-color: $color-frame-background;
		border-color: $color-frame-border-dialog;
		border-radius: $radius-frame;
		backdrop-filter : blur(4px);
	}
	.tox .tox-dialog__title {
		font-family: unset;
		font-weight: bold;
		font-size: 1.25rem;
	}
	.tox .tox-dialog__header {
		padding: 1.25rem 1.25rem 0 1.25rem;
		background-color: transparent;
	}
	.tox .tox-dialog__body-content {
		padding: 1.25rem;
	}
	.tox .tox-dialog__footer {
		padding: 1.25rem;
		border-top-color: $color-line;
		background-color: transparent;
	}
	.tox .tox-button {
		border-radius: $radius-button;
		color        : $color-text;

		border-color    : $color-button-border-accent;
		background-color: $color-button-background-accent;

		&:hover:not(:disabled),
		&:active:not(:disabled) {
			border-color    : $color-button-border-hover;
			background-color: #fff;
			color           : $color-text;
		}

		&.tox-button--secondary {
			border-color    : $color-button-border;
			background-color: $color-button-background;
		}
	}
	.tox .tox-label {
		color: $color-text;
	}
	.tox .tox-color-input span::before {
		background-repeat: repeat;
	}
}
