/**
 * Variables for Style
 *
 * @author Takuto Yanagida
 * @version 2022-12-19
 */

$color-text: #111;
$color-line: hsl(0, 0%, 80%, 90%);

$color-frame-border-light: rgba(#fff, 0.85);
$color-frame-border-dark : rgba(#fff, 0.65);
$color-frame-background  : rgba(#fff, 0.95);

$color-button-border        : hsla(  0,   0%, 80%, 0.95);
$color-button-border-accent : hsla( 60,  80%, 40%, 0.95);
$color-button-border-caution: hsla(345,  70%, 55%, 0.95);
$color-button-border-hover  : hsla(240, 100%, 77%, 0.95);

$color-button-background        : hsla(  0,  0%, 100%, 95%);
$color-button-background-accent : hsla( 60, 80%,  65%, 95%);
$color-button-background-caution: hsla(345, 70%,  80%, 95%);

$color-button-text        : $color-text;
$color-button-text-accent : $color-text;
$color-button-text-caution: $color-text;

$color-accent-ui                    : hsl(240, 80%, 50%);
$color-dialog-placeholder-background: rgba(#000, 0.65);

$radius-frame : 8px;
$radius-button: 6px;

$font-family-sans: 'SourceHanSansJP-VF', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family-mono: Consolas, Monaco, 'Courier New', Courier, 'Source Han Code JP', 'IPA Gothic', 'Osaka-Mono', monospace;
