/**
 *
 * Variables for Style
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2021-06-07
 *
 */


$color-text: #222;
$color-line: hsl(0, 0%, 80%, 90%);

$color-frame-border           : transparent;
$color-frame-border-dialog    : $color-line;
$color-frame-background       : rgba(#fff, 0.9);
$color-frame-background-dialog: rgba(#fff, 0.8);

$radius-frame: 8px;

$color-button-border        : hsl(  0,   0%, 80%, 90%);
$color-button-border-accent : hsl( 60,  80%, 40%, 90%);
$color-button-border-caution: hsl(  0,  70%, 55%, 90%);
$color-button-border-hover  : hsl(240, 100%, 77%, 90%);

$color-button-background        : hsl( 0,  0%,  100%, 90%);
$color-button-background-accent : hsl(60, 75%,   90%, 90%);
$color-button-background-caution: hsl( 0, 75%,   92%, 90%);

$radius-button: 4px;

$color-dialog-placeholder-background: rgba(#000, 0.65);
