/**
 * Style for Admin
 *
 * @author Takuto Yanagida
 * @version 2022-12-23
 */

@use 'mixin' as *;
@use 'variable' as *;

@use 'form';

@use 'login';
@use 'list';
@use 'post';
@use 'editor';
@use 'media';

@font-face {
	font-family: 'SourceHanSansJP-VF';
	font-weight: 100 900;
	src        : url('SourceHanSansJP-VF.ttf.woff2') format('woff2-variations');
}

/* For chrome */
@supports (-webkit-appearance: none) and (not (-moz-appearance: none)) and (not (font: -apple-system-body)) {
	img {
		image-rendering: -webkit-optimize-contrast;
	}
}

// *, *::before, *::after { outline: 1px solid rgba(red, 0.5); }


// -----------------------------------------------------------------------------


:root {
	--small-gap: clamp(0.5rem, 2vw, 1rem);
	--large-gap: clamp(0.5rem, 2vw, 1.5rem);
}

html, body {
	display      : grid;
	grid-template: 1fr/100%;

	min-height: 100vh;
	@supports (max-height: 1dvh) { min-height: 100dvh; }
}

body {
	font-family: $font-family-sans;
	font-size  : 16px;
}

.site {
	padding-block : var(--large-gap);
	padding-inline: max(var(--large-gap), calc((100% - 96rem) / 2));

	&:not(.dialog) {
		background-image: radial-gradient(hsl(135, 10%, 99%), hsl(135, 10%, 85%));
	}
}


// ----


:is(.site, .dialog) {
	display       : flex;
	flex-direction: column;
	gap           : var(--large-gap);
}

.dialog {
	gap: var(--small-gap);
}

:is(.site-header, .site-footer, .dialog-header, .dialog-footer) {
	display       : flex;
	flex-direction: column;
	gap           : var(--small-gap);

	:is(.row, .row > div) {
		display        : flex;
		align-items    : center;
		justify-content: space-between;
		gap            : var(--small-gap);
	}
}

:is(.site-content, .dialog-content) {
	flex-grow: 1;

	display      : grid;
	grid-template: 1fr/100%;
}


// -----------------------------------------------------------------------------


:is(.site-content, .site-content form, .dialog-content) {
	> .column {
		display: flex;

		.column-main {
			flex-grow: 1;
		}

		.column-sub {
			&[disabled] { display: none; }

			@include for-tl {
				flex-shrink: 0;
				width      : 16.5rem;
			}

			> .frame + .frame {
				margin-top: var(--small-gap);
			}
		}
	}
}

.column.list {
	gap: var(--large-gap);

	flex-direction: column;
	@include for-tl { flex-direction: row; }
}

.column.post {
	gap: var(--large-gap);

	flex-direction: column-reverse;
	@include for-tl { flex-direction: row; }

	.column-sub {
		column-gap: var(--small-gap);

		@include for-tp { column-count: 2; }
		@include for-tl { column-count: 1; }
	}
}

.column.media {
	gap: var(--small-gap);

	flex-direction: column;
	@include for-tl { flex-direction: row; }
}


// -----------------------------------------------------------------------------


.frame {
	@include frame;
	@include frame-edge;
	@include floating-shadow;

	padding  : var(--small-gap);
	font-size: 0.85rem;

	&.dialog {
		width: min(96rem, calc(100% - var(--large-gap) * 2));

		overflow       : hidden;
		box-shadow     : 0 1px 2px rgba(#000, 0.08);
		backdrop-filter: blur(4px);
	}
	&.preview { padding: 0; }
}

.frame-compact,
.frame-box {
	display: flex;
	gap    : var(--small-gap);
	padding: var(--small-gap);

	break-inside: avoid;

	.flatpickr-input {
		min-width: 11rem;
		@include for-tl { width: 100%; }
		max-height: 2rem;
		min-height: 2rem;

		font-size: 0.75rem;
	}

	hr {
		margin   : 0 calc(-1 * var(--small-gap));
		max-width: unset;

		padding   : 0;
		border-top: 1px solid $color-line;

		opacity: 0.25;
		@include for-ta {
			opacity: 1;
		}
	}
}

.frame-compact {
	flex-wrap  : wrap;
	align-items: center;

	@include for-tl {
		flex-direction: column;
		align-self    : flex-start;
		align-items   : stretch;
	}

	> * {
		display    : flex;
		flex-wrap  : wrap;
		align-items: center;
		gap        : 0.25rem 0.5rem;

		&.grow { flex-grow: 1; }
	}

	.heading {
		font-weight: bold;
	}
}

.frame-box {
	flex-direction: column;

	.title {
		font-weight: bold;
	}

	.row-col {
		display  : flex;
		flex-wrap: wrap;
		gap      : var(--small-gap);
	}
}


// -----------------------------------------------------------------------------


.site-title,
.dialog-title {
	margin: 0;

	color      : $color-text;
	font-weight: bold;
	font-size  : 1rem;
	@include for-ta { font-size: 1.25rem; }
}

.site-title {
	display        : flex;
	align-items    : center;
	justify-content: center;
	gap            : 0.5rem;

	&::before {
		content: '';
		display: inline-grid;
		width  : 2rem;
		height : 2rem;

		margin-block: -0.5rem;

		background-image: url(logo.png);
		background-size : contain;
	}
}


// -----------------------------------------------------------------------------


.button-row {
	display        : flex;
	justify-content: space-between;
	gap            : var(--small-gap);

	&.end { justify-content: flex-end; }

	[data-href="#"] { display: none; }
}

a {
	color          : $color-accent-ui;
	text-decoration: underline;
}
