//
// Content Style for Newtrino
// 2017-03-08
// Takuto Yanagida @ Space-Time Inc.
//


@import "content/button";
@import "content/image";
@import "content/inline";
@import "content/list";
@import "content/table";


@mixin neat-width($max_width, $side_margin: 0px) {
	margin-left: auto;
	margin-right: auto;
	max-width: $max_width;  // must be max-width for Android Chrome
	width: calc(100% - #{$side_margin * 2});  // must be width for Android Chrome
}

.neat-width {
	@include neat-width($size-width, $size-side-margin);
}

@mixin full-width-strip($color) {
	background-color: $color;
	box-shadow: -33vw 0 0 $color, 33vw 0 0 $color;

	// for avoiding that lines are shown at the edge of box element on IE 11
	@media all and (-ms-high-contrast: none) {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: -100vw;
			width: 200vw;
			top: 0;
			bottom: 0;
			background-color: $color;
			z-index: -1;
		}
	}
}

@mixin heading2 {
	margin: 0;
	padding: 3rem 0;
	color: $color-heading;
	text-align: center;
	font-size: 2.5rem;
	@media screen and (max-width: 600px) {
		font-size: 2rem;
	}
	font-weight: normal;
	position: relative;
	font-feature-settings: 'palt' 1;

	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 3rem;
		height: 0.25rem;
		bottom: 2.5rem;
		background-color: $color-base;
		left: 50%;
		transform: translate(-1.5rem, 0);
	}
	&:after {
		position: absolute;
		display: block;
		content: "";
		width: 1.5rem;
		height: 0.25rem;
		bottom: 2.5rem;
		background-color: $color-accent;
		left: 50%;
		transform: translate(-1.5rem, 0);
	}
}

@mixin post-content {

	> * + * {
		margin-top: 1rem;
	}


	// Block Elements #########################################################

	h1, h2, h3, h4, h5, h6 {
		@include neat-width(($size-width + $size-text-width) / 2);
		font-weight: bold;
		text-align: left;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	h1, h2, h3, h5, h6 {
		color: $color-heading;
	}

	h1, h3, h4, h5, h6 {
		padding: 0;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.6rem;
		border-left: 0.25rem solid $color-accent;
		padding: 0 0 0 1rem;
		&::after, &::before {
			display: none;
		}
	}

	h3 {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 1.3rem;
		color: $color-accent;
	}

	h5 {
		font-size: 1.3rem;
	}

	h6 {
		font-size: 1.16rem;
	}

	hr {
		@include neat-width($size-text-width);
		border-top: dashed 1px $color-base;
		max-width: #{($size-width + $size-text-width) / 2};
	}

	> p {
		@include neat-width($size-text-width);
		line-height: 1.8;
		text-align: left;
	}

	blockquote {
		@include neat-width($size-text-width + 3rem);
		box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
		padding: 1.5rem;
		text-align: left;
	}

	// Inline Elements ########################################################

	b {
		font-size: 1rem;
		font-weight: bold;
	}

	strong {
		font-size: 1rem;
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	small, sub, sup {
		font-size: $font-small;
		font-weight: normal;
	}

	u {
		display: inline;
		text-decoration: underline;
	}

	figure {
		display: inline-block;
	}

	@include image;

	// Misc ###################################################################

	> * &:after {
		content: "";
		display: block;
		clear: both;
	}

	.pos-center {
		text-align: center;
		display: block;
		position: relative;
	}

}

.column-2,
.column-3 {
	display: flex;
	@include neat-width($size-width);
	@include full-width-strip($color-base-2);

	> * {
		position: relative;

		&:before, &:last-child:after {
			content: "";
			display: block;
			position: absolute;

			top: 2rem;
			width: 1rem;
			height: calc(100% - 4rem);
		}
		&:before {
			left: 0;
			border-left: solid 1px $color-base-1;
		}
		&:last-child:after {
			right: 0;
			border-right: solid 1px $color-base-1;
		}
	}
}

.column-2 > * {
	flex: 1 1 50%;
}

.column-3 > * {
	flex: 1 1 33%;
}

@media screen and (max-width: 767px) {
	.column-2,
	.column-3 {
		flex-direction: column;
		> * {
			flex-basis: auto;

			&:first-child:before {
				display: none;
			}
			&:last-child:after {
				display: none;
			}
		}
		> *:not(:first-child):before {
			top: 0;
			left: 2rem;
			width: calc(100% - 4rem);
			height: 1rem;
			border-top: solid 1px $color-base-1;
			border-left: none;
			border-right: none;
		}
	}
}

.page-content {
	@include neat-width($size-width, $size-side-margin);
	@include post-content;
}
