@charset "utf-8";

@mixin state-icon($pos, $font-size) {
	&:#{$pos} {
		display: inline-block;
		margin: 0 0.5rem;

		padding: 0.1rem 0.25rem;
		font-size: $font-size;
		border-radius: 0.25rem;
		color: $color-text-inverted;
	}
	&.scheduled:#{$pos} {
		content: $text-nt-upcoming;
		background-color: $color-nt-scheduled;
	}
	&.held:#{$pos} {
		content: $text-nt-held;
		background-color: $color-nt-held;
	}
	&.finished:#{$pos} {
		content: $text-nt-finished;
		background-color: $color-nt-finished;
	}
}


// ----------------------------------------------------------------------------
// Recent
// ----------------------------------------------------------------------------

.nt-recent-list {
	margin: -1rem;
	display: flex;

	flex-wrap: wrap;
	align-items: stretch;

	padding-left: 0;
	list-style: none;

	li {
		position: relative;
		margin: 1.5rem 1rem;

		width: calc(50% - 2rem);

		&.new:before {
			position: absolute;

			display: flex;
			justify-content: center;
			align-items: center;

			@include circle(3rem, $color-accent);
			right: 1rem;
			top: 1rem;
			color: $color-text-inverted;
			content: "New";
		}
		> a {
			position: relative;
			display: block;

			@include button-clickable-box;
			width: 100%;
			height: 100%;
			min-height: 12rem;
			padding: 1.5rem;
			border-top: 0.25rem solid $color-base;
			text-decoration: none;

			&:before {
				@include absolute-pseudo-block;
				@include rectangle(3rem, 0.25rem, $color-accent);
				top: -0.25rem;
				left: 0;
			}
			&:after {
				@include absolute-pseudo-block;
				@include triangle(bottom, 0.6rem, $color-base);
				right: -0.3rem;
				bottom: -0.3rem;
				transform: rotate(-45deg);
			}
		}
	}
	@media screen and (max-width: 600px) {
		flex-direction: column;
		li {
			width: calc(100% - 2rem);
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}

	.nt-title {
		margin: 0.8rem 0 1.2rem;
		font-size: 1.3rem;
		font-feature-settings: 'palt' 1;
		color: $color-text;
	}
	.nt-cat {
		margin-right: 1.5rem;
		display: flex;
		align-items: center;
		font-size: 1rem;
		color: $color-text-sub;
		@include state-icon(after, 0.75rem);
	}
	.nt-event-term {
		margin-right: 3rem;
		display: inline-block;
		font-size: $font-small;
		color: $color-heading;
	}
	.nt-date {
		position: absolute;
		bottom: 1.5rem;
		right: 1.5rem;
		font-size: $font-small;
		text-align: right;
		color: $color-text-sub;
	}
	.nt-excerpt {
		margin-bottom: 1.5rem;
		line-height: 1.6;
		color: $color-text;
	}
}


// ----------------------------------------------------------------------------
// Topic List
// ----------------------------------------------------------------------------

.nt-topics {
	@include neat-width($size-width, $size-side-margin);
	flex-grow: 1;

	h2 {
		@include heading2;
	}
}

.nt-topic-list {
	margin: 0 auto;

	max-width: $size-width;
	padding: 0;
	border-top: 1px solid $color-base;
	border-bottom: 1px solid $color-base;

	li {
		display: flex;
		justify-content: center;
		align-items: center;

		&:not(:first-child) {
			border-top: 1px dashed $color-base-1;
		}

		padding: 0 1rem;
		@media screen and (max-width: 600px) {padding: 0;}

		> a {
			position: relative;
			display: flex;
			align-items: center;

			flex-grow: 1;
			min-height: 3rem;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;

			padding-left: 3rem;
			@media screen and (max-width: 600px) {padding-left: 0;}
			@include link($color-link, $color-link-visited);
		}
		.date {
			margin-right: 1rem;

			font-size: 0.9rem;
			color: $color-heading;
			white-space: nowrap;
		}
		.cat {
			margin-left: 1.5rem;

			font-size: $font-small;
			color: $color-heading;
			white-space: nowrap;
			text-align: right;

			@include state-icon(before, $font-small);
		}
	}
	li.new a:before {
		position: absolute;
		@media screen and (max-width: 600px) {
			position: static;
			transform: translate(0, 0);
		}
		margin-right: 0.5rem;
		display: inline-block;
		left: 0.25rem;

		padding: 0.1rem 0.25rem;
		background-color: $color-accent;
		border-radius: 0.25rem;
		font-size: 0.75rem;
		color: $color-text-inverted;
		content: "New!";
		top: 50%;
		transform: translate(0, -50%);
	}
}


// ----------------------------------------------------------------------------
// Topic View
// ----------------------------------------------------------------------------

.nt-topic-post {

	h2 {
		@include heading2;
	}

	header {
		@include neat-width($size-width, $size-side-margin);

		.header-main {
			border-bottom: 1px solid $color-base-1;

			h3 {
				margin: 0;

				font-size: 2rem;
				@media screen and (max-width: 600px) {font-size: 1.75rem;}
				font-weight: normal;
				font-feature-settings: 'palt' 1;
				color: $color-heading;
			}
		}
		.event-duration {
    		margin-top: 0.25rem;

			text-align: right;
			vertical-align: top;
			white-space: nowrap;

			font-size: 0.9rem;
			color: $color-heading;

			@include state-icon(after, 0.9rem);
			&:after {
				margin-right: 0;
			}
		}
	}
	.nt-post-content {
		padding-top: 2rem;
		padding-bottom: 2rem;
		@include neat-width($size-width, $size-side-margin);
		@include post-content;
		> *:first-child {
			margin-top: 0;
		}
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	footer {
		@include neat-width($size-width, $size-side-margin);
		.sns {
			@include sns;
		}
		.date {
			border-top: 1px solid $color-base-1;
			text-align: right;
			font-size: 1rem;
			color: $color-heading;
		}
	}
}


// ----------------------------------------------------------------------------
// Post Link
// ----------------------------------------------------------------------------

.nt-postlink {
	@include neat-width($size-width, $size-side-margin);
	padding: 1rem 0;

	> ul {
		margin: 0 -1rem;
		display: flex;
		justify-content: center;

		padding: 0.5rem 0.75rem;

		> li {
			margin: 0.5rem 0.25rem;

			&.list a {
				display: flex;
				justify-content: center;
				align-items: center;

				width: 100%;
				height: 100%;

				@include button-emphasis;
				@include button-responsive-padding;

				&::before {
					content: '';
					display: inline-block;
					background: url(../img/list.svg) no-repeat center center;
					width: 1rem;
					height: 1rem;
				}
				span {
					@media screen and (max-width: 600px) {display: none;}
					margin-left: 0.25rem;
    				white-space: nowrap;
				}
			}
			&.prev, &.next {
				min-width: 0;
				flex-basis: 20rem;
				@media screen and (max-width: 600px) {
					flex-basis: auto;
					flex-grow: 1;
				}

				a {
					display: block;
					position: relative;

					width: 100%;
					height: 100%;

					@include button-ghost;
					@include button-responsive-padding;
					@include ellipsis;

					&::after {
						@include absolute-pseudo-block;
						@include vertical-center;
						transition: all 0.2s;
					}
					&:hover::after {
						transition: all 0.2s;
					}
					&::before {
						display: inline-block;
						@media screen and (max-width: 600px) {display: none;}
						position: absolute;
						top: 0.15rem;
						font-size: 0.5rem;
					}
				}
			}
			&.prev a {
				padding-left: 1.25rem;
				&::after {
					left: 0;
					@include triangle(left, 0.4rem, $color-heading);
				}
				&:hover::after {
					@include triangle(left, 0.4rem, $color-text-inverted);
				}
				&::before {
					content: 'PAST';
					left: 0.25rem;
				}
			}
			&.next a {
				padding-right: 1.25rem;
				&::after {
					right: 0;
					@include triangle(right, 0.4rem, $color-heading);
				}
				&:hover::after {
					@include triangle(right, 0.4rem, $color-text-inverted);
				}
				&::before {
					content: 'RECENT';
					right: 0.25rem;
				}
			}
		}
	}
}


// ----------------------------------------------------------------------------
// Pagination
// ----------------------------------------------------------------------------

.nt-pagination {
	padding: 1rem 0;

	> ul {
		margin: 0 -1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		padding: 0.5rem;

		> li {
			display: inline-block;
			margin: 0.5rem;

			@include button-ghost;

			> a {
				display: block;

				width: 100%;
				height: 100%;

				padding: 0.75rem 1.5rem;
				@media screen and (max-width: 600px) {padding: 0.5rem 1rem;}
			}
		}

		> li.nt-ellipsis {
			display: flex;
			font-size: 0.9rem;
			align-items: center;
		}
		> li.nt-current {
			display: flex;
			justify-content: center;
			align-items: center;

			min-width: 2rem;
			padding: 0.75rem 1.5rem;
			@media screen and (max-width: 600px) {padding: 0.5rem 1rem;}

			@include button-disabled;
		}
	}
}


// ----------------------------------------------------------------------------
// Filter
// ----------------------------------------------------------------------------

.nt-filter-bar {
	@include neat-width($size-width, $size-side-margin);
	padding-top: 2rem;
}

.nt-filter {
	margin: 0 -2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	> div {
		flex-grow: 1;
		padding: 0.5rem 2rem;

		> form {
			display: flex;
			margin: 0 -0.5rem;
			@media screen and (max-width: 600px) {margin: 0 -0.25rem;}

			position: relative;
			align-items: flex-end;

			select {
				@include button-select-input;
				margin: 0;
				width: 100%;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				&::-ms-expand {display: none;}
				padding: 0.75rem 1.5rem 0.75rem 0.5rem;
				@media screen and (max-width: 600px) {padding: 0.5rem 1rem 0.5rem 0.5rem;}
			}
			input[type=text] {
				@include button-select-input;
				flex-grow: 1;
				width: 100%;
				height: 100%;
				padding: 0.75rem 1rem 0.75rem 3rem;
				@media screen and (max-width: 600px) {padding: 0.5rem 0.5rem 0.5rem 2rem;}
			}
			input[type=submit] {
				margin: 0.5rem;
				@media screen and (max-width: 600px) {margin: 0.25rem;}

				@include font-family;
				@include button-ghost;
				@include button-responsive-padding;
			}
			label.search, label.select {
				position: relative;
				margin: 0.5rem;
				@media screen and (max-width: 600px) {margin: 0.25rem;}
				flex-grow: 1;
			}
			label.search {
				height: 100%;
				&::before {
					@include absolute-pseudo-block;
					@include vertical-center;
					left: 0.5rem;
					@media screen and (max-width: 600px) {left: 0rem;}
					z-index: 1;
					width: 2rem;
					height: 2rem;
					background: url(../img/search.svg) no-repeat left center;
				}
			}
			label.select {
				&::after {
					@include absolute-pseudo-block;
					@include vertical-center;
					right: 0.25rem;
					@media screen and (max-width: 600px) {right: 0rem;}
					z-index: 1;
					width: 1rem;
					height: 2rem;
					background: url(../img/select.svg) no-repeat left center;
					pointer-events: none;
				}
			}
		}
	}
}
