@charset "utf-8";

$color-accent:        hsl(177,  60%, 35%);
$color-base:          hsl(177,   1%, 25%);
$color-base-1:        hsl(177,   1%, 70%);
$color-base-2:        hsl(177,   1%, 90%);

$color-text:          hsl(177,  15%,  5%);
$color-text-inverted: hsl(177,  15%, 95%);
$color-text-sub:      hsl(177,  15%, 50%);
$color-heading:       hsl(177,  15%, 25%);

$color-link:          hsl(240,  40%, 40%);
$color-link-visited:  hsl(240,  40%, 60%);

$color-nt-scheduled:  hsl(330,  99%, 35%);
$color-nt-held:       hsl(150,  99%, 35%);
$color-nt-finished:   hsl(330,   1%, 35%);

$text-nt-upcoming:    "Upcoming";
$text-nt-held:        "Today/Ongoing";
$text-nt-finished:    "Finished";

$size-width:          72rem;
$size-text-width:     40rem;
$size-side-margin:    1rem;

$font-small:          0.85rem;
$site-url-base:       "stxst.com";
