@charset "utf-8";

.front-page {
	> section {
		> h2 {
			@include heading2;
		}

		> p {
			@include neat-width($size-text-width);
			line-height: 1.8;
			margin: 0 auto;
			text-align: justify;
		}

		nav.bar {
			text-align: center;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

	}

	> section:not(.st-slideshow):not(.pickup):not(.recent) {
		@include neat-width($size-width, $size-side-margin);
		@include list;
	}

	.pickup {
		> * {
			display: flex;
			flex-direction: column;

			padding: 2rem 2.5rem;

			color: $color-text;
			text-align: left;
			text-decoration: none;

			h3 {
				margin: 0 0 0.5rem 0;
				color: $color-heading;
				font-size: 1.6rem;
				font-weight: normal;
				text-align: center;
			}
			p {
				margin: 1rem 0;
				line-height: 1.6;
			}
			div {
				text-align: center;

				&.link {
					flex-grow: 1;
					color: $color-link;

					display: flex;
					align-items: flex-end;
					justify-content: center;
				}
			}
		}
	}

}
