@charset "utf-8";

@import "variable";
@import "content";
@import "nt";


:root {
	font-size: 14px;
	@include for-tablet-up { font-size: 16px; }
	cursor: auto;
}

body {
	@include font-family;
	@include font-proportional;
	@include font-visible-font-chrome;

	color: $color-text;

	max-width: 100%;
	overflow-x: hidden;
}
