/**
 *
 * Index (SCSS)
 *
 * @author Space-Time Inc.
 * @version 2018-11-02
 *
 */


@charset 'utf-8';


.flatpickr {
	display: inline-flex;
	margin: 0;

	input {
		max-width: 7rem;
	}
	.input-button {
		@include btn;
		&:before {
			content: '\002573';
			font-size: 0.75rem;
			line-height: 1;
		}
	}
}

.list-ops {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;

	margin-left: -0.5rem;
	margin-right: -0.5rem;
	@include for-tablet-landscape-up {
		margin-left: -1rem;
		margin-right: -1rem;
	}
	@include for-desktop-up {
		margin-left: -2rem;
		margin-right: -2rem;
	}
}

.filter-column {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 1rem;
}

.filter-item {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	@include for-tablet-landscape-up {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	@include for-desktop-up {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	h3 {
		margin-top: 0;
		margin-bottom: 0.5rem;
	}
}

.period-filter {
	display: flex;
	align-items: center;
	span { margin: 0 0.5rem; }
	button:last-child { margin-left: 1rem; }
}

table.list {
	margin-top: 2rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;

	th {
		border-bottom: 1px solid #ccc;
		text-align: center;
	}
	th, td {
		padding: 0.75rem 0.5rem;
		@include for-tablet-landscape-up {
			padding-left: 0.75rem;
			padding-right: 0.75rem;
		}
		white-space: nowrap;

		&:first-child { padding-left: 1px; }
		&:last-child { padding-right: 1px; }
	}
	td {
		&:nth-child(2) {
			width: 9em;
			font-size: 0.75rem;
			a {
				color: #666;
				text-decoration: none;
			}
		}
		&:nth-child(3) {
			width: 100%;
			white-space: normal;
			text-decoration: underline;
			line-height: 1.25;
		}
		&:nth-child(n+4) {
			color: #666;
			width: 9em;
			font-size: 0.75rem;
			line-height: 1.25;
		}
		&.category {
			span {
				display: block;
				@include for-tablet-landscape-up {
					display: inline-block;
				}
			}
			div {
				white-space: normal;
			}
		}
		&.mod-date-time {
			> span {
				display: block;
				@include for-tablet-landscape-up {
					display: inline-block;
				}
			}
		}
	}
}

.pagination-nav {
	@include layout-centering;
	margin-top: 2rem;
	padding: 0;

	li {
		@include btn-li;
		&:not(:first-child) {
			margin-left: 1rem;
		}
	}
}
