/**
 *
 * Mixin (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-10-19
 *
 */


@charset 'utf-8';


@mixin frame-design {
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	font-size: 0.9rem;
}

@mixin clickable-design {
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 2px 6px #aaa;
	font-size: 0.9rem;

	background-color: #fff;
	color: #333;
	white-space: nowrap;

	&:hover { border-color: #88f; }
	&:disabled {
		pointer-events: none;
		border-color: #ccc;
		color: #aaa;
	}
}

@mixin btn-elm {
	min-width: 2.5rem;
	text-decoration: none;
	text-align: center;
	line-height: 1.25;
}

@mixin btn {
	@include clickable-design;
	@include btn-elm;
	padding: 0.66rem 0.75rem;
	display: inline-block;
}

@mixin btn-li {
	@include clickable-design;
	@include btn-elm;
	@include layout-centering;
	color: #ccc;
	min-height: 2.5rem;
	height: 2.5rem;

	a {
		@include btn-elm;
		@include layout-centering;
		color: #333;
		min-height: 2.5rem;

		padding: 0.5rem 0.75rem;
		width: 100%;
		height: 100%;
	}
}
