/**
 *
 * Preview (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-07-16
 *
 */


@charset 'utf-8';


.topic-post {
	margin-top: 1rem;

	header {
		display: flex;
		align-items: flex-end;

		h3 {
			margin: 0 2rem 0 0;
			flex-grow: 1;
		}
		.date, .cat {
			text-align: right;
			color: #666;
			font-size: 0.9rem;
		}
	}
}

.post-content {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 1px solid #ccc;

	@include font-size-level(1);

	&:after {
		content: ' ';
		display: block;
		clear: both;
	}

	.alignleft {
		float: left;
		margin: 0 1% 2rem 0;
	}

	.alignright {
		float: right;
		margin: 0 0 2rem 1%;
	}

	.aligncenter {
		text-align: center;
		width: 100%;
		display: block;
		margin-bottom: 2rem;
	}

	.size-small {
		max-width: 10rem;
		width: 100%;
	}

	.size-medium {
		max-width: 20rem;
		width: 100%;
	}

	.size-large {
		max-width: 40rem;
		width: 100%;
	}
}
