body {
	font-size: 16px;
}

.entry-content {
	font-size: 1rem;
	line-height: 1.8rem;
}

.alignleft {
	float: left;
	margin: 0 1% 2rem 0;
}

.alignright {
	float: right;
	margin: 0 0 2rem 1%;
}

.aligncenter {
	text-align: center;
	width: 100%;
	display: block;
	margin-bottom: 2rem;
}

.size-small {
	max-width: 10rem;
	width: 100%;
}

.size-medium {
	max-width: 20rem;
	width: 100%;
}

.size-large {
	max-width: 40rem;
	width: 100%;
}
