/**
 * Preview Styles (Sample)
 *
 * @author Takuto Yanagida
 * @version 2022-12-22
 */

body {
	font-size  : 16px;
	font-family: sans-serif;
}

.entry-content {
	font-size  : 1rem;
	line-height: 1.8rem;
}


/* Alignments --------------------------------------------------------------- */


.alignleft {
	float : left;
	margin: 0 1rem 2rem 0;
}

.alignright {
	float : right;
	margin: 0 0 2rem 1rem;
}

.aligncenter {
	display   : block;
	width     : fit-content;
	margin    : 0 auto 2rem auto;
	text-align: center;
}


/* Image Sizes -------------------------------------------------------------- */


.size-full {
	width    : auto;
	height   : auto;
	max-width: 100%;
}


/* Custom Styles ------------------------------------------------------------ */


a.button {
	position   : relative;
	display    : inline-grid;
	place-items: center;

	padding: 0.5rem 1rem;
	border : 1px solid #ccc;
}

div:is(.frame, .frame-alt) {
	clear  : both;
	margin : 1rem 0;
	padding: 1rem;
}

div:is(.frame, .frame-alt) > *:first-child {
	margin-block-start: 0;
}

div:is(.frame, .frame-alt) > *:last-child {
	margin-block-end: 0;
}

div.frame {
	border: 1px solid #ccc;
}

div.frame-alt {
	border: 3px double #ccc;
}

div.clear {
	border: 1px dotted #bbf;
	clear : both;
}
