/*
 * Preview Styles
 */


body {
	font-size: 16px;
}

.entry-content {
	font-size: 1rem;
	line-height: 1.8rem;
}


/* Alignments --------------------------------------------------------------- */


.alignleft {
	float: left;
	margin: 0 1rem 2rem 0;
}

.alignright {
	float: right;
	margin: 0 0 2rem 1rem;
}

.aligncenter {
	display: block;
	width: 100%;
	margin: 0 auto 2rem auto;
	text-align: center;
}


/* Image Sizes -------------------------------------------------------------- */


.size-small,
.size-medium-small,
.size-medium,
.size-medium-large,
.size-large,
.size-extra-large,
.size-huge {
	width: 100%;
	height: auto;
}

.size-small        { max-width:  8rem; }
.size-medium-small { max-width: 16rem; }
.size-medium       { max-width: 24rem; }
.size-medium-large { max-width: 32rem; }
.size-large        { max-width: 48rem; }
.size-extra-large  { max-width: 64rem; }
.size-huge         { max-width: 96rem; }

.size-full {
	width: auto;
	height: auto;
	max-width: 100%;
}
